#circle{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background:#E4E4E4;
     position:relative;
}
#circle div{
    position: absolute;
}
body{
    height: 100vh;
    width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   
   
}
*{
    padding: 0;
    margin: 0;
}
.twelve{
    top: 0;
    left: 50%;
}
.three{
    right: 0;
    top: 50%;
}
.six{
    bottom: 0;
    left: 50%;
}
.nine{
    left: 0;
    top: 50%;
}


.dot{
    height: 40px;
    width: 40px;
    border-radius: 50%;  
    /* background: white; */
    background-color: red; 
    top:calc(50% - 20px);
    left: calc(50% - 20px);
    z-index: 10;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.2); */

}
.sui{
   left: 50%;
   bottom: 50%;
   width: 10px;
   transform-origin: bottom;
   
}
.inner-circle{
    width:400px;
    height: 400px;
    border-radius: 50%;
    background: blue;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2) inset;
}
.minute{

     height: 50%;
     width: 30px;
     margin-left: -15px;
     background: #FFFFFF;
     transform: rotate(30deg);
     animation: rotate 5s linear infinite;

}
.hour{
    height: 25%;
    width: 30px;
    margin-left: -15px;
    background: #cccccc;
    animation: hour 43200s linear infinite;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}

.second{
    height: 40%;
    transform: rotate(60deg);
    background: #4d4d4d;
    width:15px;
    animation: second 60s linear infinite;
}
@keyframes second{
    from{
     transform: rotate(180deg);
    }
    to{
        transform: rotate(540deg);
    }
}
@keyframes hour{
     from{
          transform: rotate(-60deg);
     }
     to{
         transform: rotate(300deg);
     }
}
